<div class="container">
  <ng-container *ngIf="bracket.brackets.length">
    <div class="filter-bracket">
      <app-ui-bracket *ngFor="let b of bracket.brackets; let last = last"
                      [bracket]="b"
                      [isLast]="last"
      ></app-ui-bracket>
      <div class="img" (click)="removeBracket(bracket)">
        <img src="assets/red-close.png">
      </div>
    </div>
    <app-ui-and-or *ngIf="!isLast"></app-ui-and-or>
  </ng-container>


  <ng-container *ngIf="bracket.dynamicFilters.length">
    <div class="dynamic-filter-container">
      <app-ui-chip [text]="bracket.dynamicFilters[0].value"></app-ui-chip>
      <app-ui-and-or *ngIf="!isLast" (emitBracket)="joinBracket($event, bracket)"></app-ui-and-or>
    </div>
  </ng-container>

</div>

